// cards
.discover {
  .display-4 {
    margin: 2rem 0;
  }
  &-cover {
    margin-top: 1rem;
    img {
      width: 100%;
    }
  }
}
.cards {
  display: grid;
  margin-bottom: 2rem;
  grid-template-columns: repeat(3, 120px);
  gap: 20px;
  & > div {
    background-color: #202027; //breakpoint here
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    min-height: 110px;
    cursor: pointer;
    padding: 0.5rem 0.25rem;
    transition: all 0.4s ease;
    &:hover {
      background-color: $secondary;
      -webkit-box-shadow: 0px 9px 9px -1px rgba(0, 0, 0, 0.52);
      -moz-box-shadow: 0px 9px 9px -1px rgba(0, 0, 0, 0.52);
      box-shadow: 0px 9px 9px -1px rgba(0, 0, 0, 0.52);
    }
    @include md {
      min-height: 130px;
    }
    img {
      height: 40px;
      width: 40px;
    }
    p {
      margin: 0;
    }
  }
}

// footer
footer {
  background-color: #202027;
  width: 100%;
  @include md {
    position: absolute;
    bottom: 0;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a {
      color: $light;
      text-decoration: none;
      padding-left: 1rem;
      @include md {
        font-weight: 700;
      }
      &:hover {
        color: lighten($dark, 40%);
      }
    }
  }
}
