.joinpage-ellipse-1 {
  position: absolute;
  height: 200px; //breakpoint here
  width: 200px;
  border-radius: 50%;
  z-index: -1;
  bottom: 0;
  left: -5%;
  background-color: $primary;
  @include md {
    height: 400px;
    width: 400px;
    left: -10%;
  }
}
.joinpage-ellipse-2 {
  position: absolute;
  height: 150px; //breakpoint here
  width: 150px;
  top: -5%;
  left: 20%;
  background-color: $secondary;
  border-radius: 50%;
  z-index: -1;
  @include md {
    height: 275px;
    width: 275px;
    top: -15%;
  }
}

.join {
  .display-3 {
    font-weight: 700;
    font-size: 4rem;
    .pink-text {
      color: $pink;
    }
  }
  form {
    background-color: #202027;
    padding: 2rem 4rem;
    margin: 1rem 0;
    border-radius: 20px;
    .input-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 2rem;
      label {
        font-weight: 700;
        font-size: 1rem;
      }
      input {
        display: block;
        width: 100%;
        outline: none;
        border: 1px solid $blue;
        padding: 0.5rem 1rem;
        border-radius: 0.5rem;
        background-color: transparent;
        color: $light;
      }
      .btn {
        border-radius: 0.5rem;
        font-size: 1rem;
        margin: 0;
      }
    }
    .btn-input {
      margin: 0;
    }
  }
}
