@import "./config";
@import "./index";
@import "./discover";
@import "./join";

html,
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $dark;
  color: $light;
  font-family: "Poppins", sans-serif;
  font-size: 1.2rem;
  position: relative;
  width: 100vw;
  height: 100vh;
  @include md {
    overflow-x: hidden;
  }
}

.full-height-grow {
  & > .container {
    padding: 1rem 2rem;
  }
}

.sm-none {
  display: none;
  @include md {
    display: block;
  }
}
.subtitle {
  font-size: 1.5rem;
  display: block;
  margin-bottom: 2rem;
}
.btn {
  background-color: $blue;
  color: $light;
  padding: 0.5rem 1.2rem;
  &:hover {
    color: $light;
    background-color: lighten($blue, 10%);
  }
}

// navbar
.navbar {
  padding: 1.5rem 0;
  &-brand {
    color: $light;
    display: flex;
    align-items: center;
    span {
      margin-left: 0.5rem; //breakpoint here
      font-size: 1.5rem;
      @include md {
        font-size: 2rem;
        margin-left: 1rem;
      }
    }
    &:hover {
      color: $light;
    }
  }
  &-nav {
    align-items: center;
  }
  .nav-link {
    color: $light;
    transition: 0.4s;
    @include md {
      font-size: 1.4rem;
    }
    &:hover {
      color: lighten($dark, 40%);
    }
  }
}

// footer
footer {
  background-color: #202027;
  width: 100%;
  padding: 16px;
  margin-top: 60px;
  @include md {
    position: absolute;
    bottom: 0;
  }
  .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    a {
      color: $light;
      text-decoration: none;
      padding-left: 1rem;
      @include md {
        font-weight: 700;
      }
      &:hover {
        color: lighten($dark, 40%);
      }
    }
  }
}
